<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key><string>com.serhiital.Caffeine.Helper</string>
    <key>BundleProgram</key><string>Contents/MacOS/CaffeineHelper</string>
    <key>MachServices</key>
    <dict><key>com.serhiital.Caffeine.Helper</key><true/></dict>
    <key>RunAtLoad</key><true/>
    <key>KeepAlive</key><true/>
    <key>ThrottleInterval</key><integer>5</integer>
    <key>ExitTimeOut</key><integer>45</integer>
    <key>ProcessType</key><string>Adaptive</string>
</dict>
</plist>
